<h2>Projects List</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom de Projet</th>
      <th> Actions </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
      <td>{{project.id}}</td>
      <td>{{project.name}}</td>
      <td>
        <button class="btn btn-outline-success"> Run Tests</button>
        <button class="btn btn-outline-primary" style="margin-left: 10px"> Consulter</button>
        <button class="btn btn-outline-warning" style="margin-left: 10px"> Modifier</button>
        <button class="btn btn-outline-danger" style="margin-left: 10px"> Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>