<form [formGroup]="updateOperationFormGroup">
  <div class="form-group">
    <label for="url">url:</label>
    <input type="text" class="form-control" id="url" formControlName="url">
  </div>
  <div class="form-group">
    <label for="body">Body:</label>
    <textarea class="form-control" id="body" formControlName="body"></textarea>
  </div>
  <div class="form-group">
    <label for="type">Type:</label>
    <input class="form-control" id="type" formControlName="type">
  </div>
  <div class="form-group">
    <label for="expectedType">Expected type:</label>
    <input class="form-control" id="expectedType" formControlName="expectedType">
  </div>
  <div class="form-group">
    <label for="expectedResponse">Expected response:</label>
    <input class="form-control" id="expectedResponse" formControlName="expectedResponse">
  </div>
  <button type="button" class="btn btn-primary mt-4" (click)="handleUpdateOperation()">Update</button>
</form>
