<a routerLink="/add-operation/{{projectId}}" class="btn btn-outline-primary mt-4" style="margin-left: 10px"> Add operation</a>
<table class="table table-striped">
  <thead>
    <tr>
    <th scope="col">Id</th>
    <th scope="col">Type</th>
    <th scope="col">Url</th>
    <th scope="col">Expected type</th>
    <th scope="col"> Actions</th>
  </tr>
  </thead>

  <tbody>

  <tr *ngFor="let operation of operations">
    <td>{{operation.id}}</td>
    <td>{{operation.type}}</td>
    <td>{{operation.url}}</td>
    <td>{{operation.expectedType}}</td>
    <td>
      <button class="btn btn-outline-danger" style="margin-left: 10px">
        <i class="bi bi-trash"></i>
      </button>
      <button class="btn btn-outline-success" style="margin-left: 10px">
        <i class="bi bi-pencil"></i>
      </button>
      <button class="btn btn-outline-info" style="margin-left: 10px">
        Details
      </button>
    </td>

  </tr>
  </tbody>
</table>
